.logo {
  position: absolute;
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  color: #000000;
}
.logo-first {
  letter-spacing: 0.03em;
  color: #2196f3;
}
.nav-link {
  position: absolute;
  width: 294px;
  height: 16px;
  left: 453px;
  top: 32px;
}
